.transactionWrapper {
    padding: 15px;
}

.transactionHistory {
    width: 100%;
    table-layout: fixed;
    border: 3px solid #4A4E8C;
    border-radius: 5px;
}

th,
td {
    padding: 5px;
    text-align: center;
}

td:nth-child(1),
th:nth-child(1) {
    min-width: 100px;
}

td:nth-child(2),
th:nth-child(2) {
    min-width: 100px;
}

td:nth-child(3),
th:nth-child(3) {
    width: 100px;
}

thead {
    background-color: #787CBF;
    color: #fff;
}

tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #ADB0D9;
}