.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.statList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 600px) {
    .statList {
        flex-direction: column;
    }
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.label {
    margin: 5px;
}

.char {
    margin: 0px;
    position: relative;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: attr(data-percent);
}

.char svg {
    position: absolute;
    left: 0;
    top: 0;
}

.char span {
    border: 10px solid #fff;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.circle {
    fill: transparent;
    stroke: #4A4E8C;
    stroke-width: 10;
    stroke-dasharray: 283;
    transition: stroke-dashoffset 1s;
}
