.friendsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .friendsList {
        flex-direction: column;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    background-color: #4A4E8C;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

[id="true"] {
    background-color: rgb(153, 224, 144);
}