.friendsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .friendsList {
        flex-direction: column;
    }
}
