.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    background-color: #4A4E8C;
}

.online {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(153, 224, 144);
}

.offline {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(224, 144, 144);
}