.App {
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(10deg, rgba(2, 0, 36, 1) 0%, rgba(77, 101, 149, 1) 78%, rgba(77, 101, 149, 1) 90%);
  gap: 30px;
  padding: 30px;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .App {
    flex-direction: column;
  }
}

section {
  background-color: #A0A3D9;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  /* width: calc(33vw - 30px); */
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h2 {
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
